@{
    ViewData["Title"] = "Startsida";
}

<main class="index-main">
    <h2>Välkommen!</h2>
    <div class="index-main-text">
        <p>På denna sida kan du se aktiva idrottsföreningar inom Arvidsjaur kommun 
            samt lokaler som finns att hyra. Under <a asp-controller="Home" asp-action="Bookings">bokningar</a> finns aktuella bokningar.
        </p>
        <p>För att göra en bokning av en lokal måste du logga in. 
            Kontakta din förening för inloggningsuppgifter.
        </p>
    </div>
</main>