@{
    ViewData["Title"] = "Logga in";
}

<main class="login-main">
    <h2>Logga in</h2>
    <p>Här kan du som förening logga in och boka lokaler.</p>
    <div class="login-container">
        <form class="login-form">
            <label for="username">Användarnamn:</label>
            <input id="username" type="text">

            <label for="password">Lösenord:</label>
            <input id="password" type="password">

            <button type="submit">Logga in</button>
        </form>
    </div>
</main>