@model Projektuppgift.Models.Facility

@{
    ViewData["Title"] = "Radera lokal";
}

<section class="delete">
    <h2>Radera lokal</h2>

    <h3>Är du säker på att du vill radera denna lokal?</h3>
    <div>
        <dl class="row">
            <dt class = "col-sm-2">Namn:</dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class = "col-sm-2">Adress:</dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt class = "col-sm-2">Beskrivning:</dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
        
        <form asp-action="Delete">
            <input type="hidden" asp-for="FacilityId" />
            <input type="submit" value="Radera" class="btn btn-danger" /> |
            <a class="back-link" asp-action="Index">Tillbaka</a>
        </form>
    </div>
</section>