@model Projektuppgift.Models.Facility

@{
    ViewData["Title"] = "Detaljer";
}

<section class="details">
    <h2>Detaljer</h2>

    <div>
        <dl class="row">
            <dt class = "col-sm-2">Namn:</dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class = "col-sm-2">Adress:</dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt class = "col-sm-2">Beskrivning:</dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
    <div class="back-link-div">
        <a class="edit-link" asp-action="Edit" asp-route-id="@Model?.FacilityId">Redigera</a> |
        <a class="back-link" asp-action="Index">Tillbaka</a>
    </div>
</section>