<!DOCTYPE html>
<html lang="sv">
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="header-first">
            <picture>
                <source srcset="~/images/logo.webp" type="image/webp">
                <source srcset="~/images/logo.avif" type="image/avif">
                <img src="~/images/logo.png" alt="Arvidsjaur kommun logotyp">
            </picture>
            <a class="login">Logga in</a>
        </div>
        <div class="header-second">
            <nav>
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Startsida</a></li>
                    <li><a asp-controller="Home" asp-action="Associations">Föreningar</a></li>
                    <li><a asp-controller="Home" asp-action="Facilities">Lokaler</a></li>
                    <li><a asp-controller="Home" asp-action="Bookings">Bokningar</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <h3>Kontaktinformation</h3>
        <p>Arvidsjaur kommun</p>
        <P>Postadress: 933 31 Arvidsjaur</P>
        <p>Besöksadress: Storgatan 13</p>
        <p>Telefonväxel: 0960-155 00</p>
        <p>E-post: kommun@arvidsjaur.se</p>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>