@model Projektuppgift.Models.Association

@{
    ViewData["Title"] = "Radera förening";
}

<section class="delete">
    <h2>Radera förening</h2>

    <h3>Är du säker på att du vill radera denna förening?</h3>
    <div>
        <dl class="row">
            <dt class = "col-sm-2">Föreningsnamn:</dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class = "col-sm-2">E-postadress:</dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ContactEmail)
            </dd>
        </dl>
        
        <form asp-action="Delete">
            <input type="hidden" asp-for="AssociationId" />
            <input type="submit" value="Radera" class="btn btn-danger" /> |
            <a class="back-link" asp-action="Index">Tillbaka</a>
        </form>
    </div>
</section>