/* Återställ lite standardmarginaler */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Footer */
footer {
    background-color: rgb(0, 0, 121);
    color: white;
    padding: 2em;
}
/* Header */
.header-first{
    display: flex;
    align-items: center;
}
.login {
    color: rgb(0, 0, 121);
    margin-left: auto;
    margin-right: 2em;
}
nav {
    background-color: rgb(0, 0, 121);
    padding: 1em;
    color: white;
}
nav a {
    text-decoration: none;
    color: white;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    justify-content: center;
}