/* Återställ lite standardmarginaler */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Footer */
footer {
    background-color: rgb(0, 0, 121);
    color: white;
    padding: 2em;
}