/* Återställ lite standardmarginaler */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Footer */
footer {
    background-color: rgb(0, 0, 121);
    color: white;
    padding: 2em;
}
/* Header */
.header-first{
    display: flex;
    align-items: center;
}
.login {
    color: rgb(0, 0, 121);
    margin-left: auto;
    margin-right: 2em;
}
nav {
    background-color: rgb(0, 0, 121);
    padding: 1em;
    color: white;
}
nav a {
    text-decoration: none;
    color: white;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    justify-content: center;
}
/* Global design för main */
main h2 {
    color: rgb(0, 0, 121);
    font-size: 30px;
}
/* Index - main */
.index-main {
    padding: 5em;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.index-main p {
    max-width: 500px;
    margin: auto;
    text-align: left;
    margin-bottom: 2em;
}